# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CPPTraining.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\mais_oui_mais_pingback\UnrealLearning\CPPTraining\.idea\.idea.CPPTraining\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
